{% extends "../Base.html" %}
{% load static %}
{% block content %}
<body class="dark:bg-gray-800">
  

  <main class="grid grid-cols-3 text-center p-5 items-start" style="grid-gap: 3%; grid-row-gap: 5%;">
    <div class="mx-auto flex max-w-screen-sm items-start justify-center shiner::after">
      <div class="h-36 rounded-md bg-gradient-to-r from-pink-500 via-red-500 to-yellow-500 p-1">
        <div class="flex h-full w-full items-center justify-center bg-gray-800 back">
          <h1 class="text-2xl font-black text-white">the quick brown fox jumps over the lazy dog</h1>
        </div>
      </div>
    </div>
    <div class="mx-auto flex max-w-screen-sm items-start justify-center">
      <div class="h-36 rounded-md bg-gradient-to-r from-pink-500 via-red-500 to-yellow-500 p-1">
        <div class="flex h-full w-full items-center justify-center bg-gray-800 back">
          <h1 class="text-2xl font-black text-white">the quick brown fox jumps over the lazy dog</h1>
        </div>
      </div>
    </div>
    <div class="mx-auto flex max-w-screen-sm items-start justify-center">
      <div class="h-36 rounded-md bg-gradient-to-r from-pink-500 via-red-500 to-yellow-500 p-1">
        <div class="flex h-full w-full items-center justify-center bg-gray-800 back">
          <h1 class="text-2xl font-black text-white">the quick brown fox jumps over the lazy dog</h1>
        </div>
      </div>
    </div>
    <div class="mx-auto flex max-w-screen-sm items-start justify-center">
      <div class="h-36 rounded-md bg-gradient-to-r from-pink-500 via-red-500 to-yellow-500 p-1">
        <div class="flex h-full w-full items-center justify-center bg-gray-800 back">
          <h1 class="text-2xl font-black text-white">the quick brown fox jumps over the lazy dog</h1>
        </div>
      </div>
    </div>
    <div class="mx-auto flex max-w-screen-sm items-start justify-center ">
      <div class="h-36 rounded-md bg-gradient-to-r from-pink-500 via-red-500 to-yellow-500 p-1">
        <div class="flex h-full w-full items-center justify-center bg-gray-800 back">
          <h1 class="text-2xl font-black text-white">the quick brown fox jumps over the lazy dog</h1>
        </div>
      </div>
    </div>
    <div class="mx-auto flex max-w-screen-sm items-start justify-center">
      <div class="h-36 rounded-md bg-gradient-to-r from-pink-500 via-red-500 to-yellow-500 p-1">
        <div class="flex h-full w-full items-center justify-center bg-gray-800 back">
          <h1 class="text-2xl font-black text-white">the quick brown fox jumps over the lazy dog</h1>
        </div>
      </div>
    </div>
  </main>

  <style>
    .shiner {
      filter: blur(1px);
    }
  </style>
</body>
{% endblock %}