{% extends "./Base.html" %}
{% load static %}
<body>
    {% block content %}
    <div id="landing-main" class="w-full h-screen object-cover flex items-center justify-center">
        <video loop autoplay muted plays-inline class="w-full h-auto right-0 bottom-0 absolute -z-10">
            <!-- <source src="{% static 'Videos/landing.mp4' %}" type="video/mp4"> -->
            <source src="{% static 'Videos/landing2.mp4' %}" type="video/mp4">
        </video>
        <div class="content text-center z-10">
            <h1 class="text-7xl font-signika">Welcome to Nimbus</h1>
        </div>
    </div>
    {% endblock %}
</body>