{% extends "../Base.html" %}
{% block content %}
<!-- <form method="POST" acti>
    {% csrf_token %}
    <div class="field has-addons">
        <div class="control is-expanded">{{ form.name }}</div>
        <div class="control"><button type="submit" class="button is-info">Add City</button></div>
    </div>
</form> -->


<form class="max-w-md mx-auto" method="POST" action="{% url 'search' %}">   
    {% csrf_token %}
    <label for="city" class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white">City</label>
    <div class="relative">
        <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
            <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
            </svg>
        </div>
        <input name="city" type="search" id="city" class="block w-full p-4 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Enter City Name..." required />
        <button type="submit" class="text-white absolute end-2.5 bottom-2.5 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Search</button>
    </div>
</form>

<main class="grid grid-cols-3 text-center p-5 items-start" style="grid-row-gap: 15%;">
{% for city in weather_data %}
    <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 btn">
        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{{ city.name }}</h5>
        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">{{ city.temperature }} °C</p>
        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">{{ city.description }}</p>
    </div>
{% endfor %}
</main>

<style>
    .btn {
        line-height: 1.8rem;
        border-radius: 9.5px;
        padding: 0.5rem 1rem;
        font-size: 1rem;
        position: relative;
        background-color: #18181b;
        color: #f4f4f5;
        transition: background-color 0.2s ease-in-out;
        justify-content: center;
        text-align: center;
        cursor: pointer; /* Not included according to website */
    }

    .btn:hover {
    background-color: #0c0c0d;
    }

    .btn:before {
        content: "";
        position: absolute;
        background: linear-gradient(
            to right,
            rgb(0, 220, 130),
            rgb(54, 228, 218),
            rgb(22, 167, 158)
        );
        inset: -2px;
        z-index: -1;
        border-radius: 12.5px;
        transition: all 0.2s ease 0s;
    }

    .btn:hover:before {
        box-shadow: rgba(0, 220, 130, 0.5) 0px 0px 10px 0px, rgba(54, 228, 218, 0.5) 0px 0px 20px 0px;
    }

    .btn > span {
        text-align: left;
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        word-break: break-all;
    }

</style>


{% endblock %}